.mui-content>.mui-table-view:first-child{
	margin-top:0 ;
}
.mui-media-body p{
	position: relative;
	font-size: 14px;
	/*overflow: hidden;*/
	padding: 2px 0;
}
.mui-media-body span,.mui-media-body em{
	padding-right: 8px;
}

.hotel-hotel-img{
	width: 80px;
	height: 80px;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -40px;
}
.hotel-hotel-img img{
	width: 100%;
	height: 100%;
}
.hotel-hotel-img label{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	text-align: center;
	line-height: 16px;
	font-size: 12px;
	color: #f0f0f0;
	background-color: rgba(0,0,0,.5);
}
.hotel-data .mui-ellipsis.hotel-in-1{
	font-size: 12px;
}
.hotel-data .mui-ellipsis.hotel-in-2{
	font-size: 15px;
}
.hotel-in-3{
	border-top: 1px dotted #ddd;
	padding-top: 5px;
	width:70% ;
}
.hotel-in-3 em{
	font-size: 12px;
	font-style: normal;
	display: inline-block;
	width: 23%;
}
.hotel-comment{
	position: absolute;
	right: 85px;
}
.hotel-bar-room{
	height: 46px;
	position: relative;
	background-color: #fff;
	line-height: 46px;
	padding-left: 8px;
}
.hotel-data-change,.hotel-room-filter,.hotel-price-type{
	display: inline-block;
	height: 100%;
	width: 60px;
	float: right;
	font-size: 14px;
	text-align: center;
}
.hotel-room-filter{
	border-width:0 1px ;
	border-color:#efeff4;
	border-style:solid;
}
img.mui-media-object{
	width: 60px;
	height: 60px;
	min-width: 60px;
	min-height: 60px;
}
.hotel-price{
	position: absolute;
	right: 18px;
}
.hotel-btn-booking{
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: orange;
	color: #fff;
	font-weight: bold;
	text-align: center;
	border-radius: 3px;
	width: 60px;
	height: 25px;
	line-height: 25px;
}
