html{
	font-size: 100px;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body{
	-webkit-user-select: none;
	position: relative;
	z-index: -3;
}
.loading,.phone,.message,.cube,.swiper{
	display: none;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.loading{
	/*display: block;*/
	background: #000;
}
.loading .title{
	position: absolute;
	width: 100%;
	height: 1.4rem;
	left: 0;
	top: 50%;
	margin-top: -2.2rem;
	color: #fff;
	text-align: center;
	letter-spacing: .04rem;
}
.loading .title h1{
	font-size: .5rem;
	line-height: .75rem;
	height: .75rem;
	margin-bottom: .2rem;
}
.loading .title h2{
	font-size: .26rem;
	height: .45rem;
	line-height: .45rem;
}
.loading .progress{
	position: absolute;
	width: 4.6rem;
	height: .3rem;
	left: 50%;
	top: 50%;
	margin-left: -2.3rem;
	margin-top: .85rem;
	background: #fff;
	border-radius: .06rem;
}
.loading .progressBox{
	width: 0%;
	height: 100%;
	border-radius: .06rem;
	background: linear-gradient(45deg,#5cb85c 25%,#74c274 25%,#74c274 50%,#5cb85c 50%,#5cb85c 75%,#74c274 75%);
	-webkit-background: linear-gradient(45deg,#5cb85c 25%,#74c274 25%,#74c274 50%,#5cb85c 50%,#5cb85c 75%,#74c274 75%);
	background-size: 0.3rem 0.3rem;
	background-position: 0 0.3rem;
	transition: all 1s linear;
	/*animation: loadingMove 1s linear infinite both;*/
}

/*phone*/
.phone{
	/*display: block;*/
	background: url("../img/zf_phoneBg.jpg") no-repeat;
	background-size: cover;
	z-index: -2;
	transition: all 1s linear;
	-webkit-transition: all 1s linear;
}
.phone audio{
	display: none;
}
.phone h2{
	position: absolute;
	width: 2.62rem;
	height: 1.25rem;
	top:.5rem;
	left: 50%;
	margin-left: -1.31rem;
}
.phone h2 img{
	width: 100%;
	height: 100%;
}
.phone .time{
	display: none;
	position: absolute;
	height: .3rem;
	font-size: .3rem;
	letter-spacing: .05rem;
	top: 1.85rem;
	width: 100%;
	text-align: center;
	line-height: .3rem;
	color: #fff;
}
.phone .listen{
	position: absolute;
	width: 5.2rem;
	height: 3.6rem;
	left: 50%;
	margin-left: -2.6rem;
	bottom: .3rem;
	background: url("../img/zf_phoneListen.png") no-repeat;
	background-size: 100% 100%;
}
.phone .listen div{
	position: absolute;
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 50%;
	bottom: .47rem;
	right: -.07rem;
}
.phone .listen .move{
	z-index: -1;
	border: .03rem solid #4CD864;
	animation: phoneMove 1s linear infinite both;
	-webkit-animation: phoneMove 1s linear infinite both;
}
.phone .details{
	position: absolute;
	width: 5.2rem;
	height: 6.59rem;
	background: url("../img/zf_phoneDetail.png") no-repeat;
	background-size: 100% 100%;
	bottom: .3rem;
	left: 50%;
	margin-left: -2.6rem;
	transform: translateY(7rem);
	-webkit-transform: translateY(7rem);
	transition: all .8s ;
	-webkit-transition: all .8s ;
}
.phone .details .touch{
	position: absolute;
	width: 1.6rem;
	height: 1.6rem;
	bottom: .28rem;
	left: 50%;
	margin-left: -.8rem;
	z-index: 5;
}
/*message*/
.message{
	background-color: #EAEAEA;
}
.message .messageList{
	margin-top: .2rem;
	width: 100%;
	-webkit-transition:  all .3s ;
	transition:  all .3s ;
}
.messageList li{
	position: relative;
	max-width: 3.6rem;
	margin-bottom: .4rem;
	line-height: .4rem;
	padding: .25rem;
	font-size: .26rem;
	border-radius: .1rem;
	-webkit-transform: translateY(1rem);
	transform: translateY(1rem);
	opacity: 0;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.messageList li.student{
	float: left;
	margin-left: 1.25rem;
	background-color: #fff;
	border: .02rem solid #CACACA;
}
.messageList li.teacher{
	float: right;
	margin-right: 1.25rem;
	background-color: #A2E45C;
	border: .02rem solid #96b474;
}
.messageList li em{
	position: absolute;
	width: .1rem;
	height: .2rem;
	top:.2rem;
}
.messageList li.student em{
	background: url("../img/zf_messageArrow1.png") no-repeat;
	background-size: 100% 100%;
	left: -.1rem;
}
.messageList li.teacher em{
	background: url("../img/zf_messageArrow2.png") no-repeat;
	background-size: 100% 100%;
	right: -.1rem;
}
.messageList li img{
	position: absolute;
	width: .82rem;
	height: .82rem;
	top: 0;
	border-radius: 50%;
}
.messageList li.student img{
	left: -1rem;
}
.messageList li.teacher img{
	right: -1rem;
}
.message .keyBoard{
	position: absolute;
	width: 100%;
	height: 5.16rem;
	left: 0;
	bottom: -.54rem;
	background: url("../img/zf_messageKeyboard.png") no-repeat;
	background-size: 100% 100%;
	-webkit-transform: translateY(3.7rem);
	transform: translateY(3.7rem);
	-webkit-transition:all .3s;
	transition:all .3s;
}
.message .keyBoard .textTip{
	display: none;
	position: absolute;
	width: 4rem;
	height: .4rem;
	top: .35rem;
	left: .9rem;
	line-height: .4rem;
	font-size: .25rem;
}
.message .keyBoard .submit{
	display: none;
	position: absolute;
	width: 1.47rem;
	height: .74rem;
	right: .1rem;
	bottom:.6rem ;
	background: url("../img/zf_messageChat.png") no-repeat;
	background-size: 100% 100%;
	z-index: 10;
}
